* {
	margin: 0;
}

#header {
   padding: 20px;
   font-size:30px;
   font-weight:bold;
   text-align: center;
   background: #88B5D6;
}

#title {
	padding:5px;
	background-color: #DBDBDB;
	text-align: center;
	font-size:20px;
	font-style:italic; 
}

#footer {
   	text-align: right;
   	background: #88B5D6;
}

.error {
	padding:5px;
	text-align:center;
	font-size:25px;
	font-weight:bold;
}